header {
  width: 100%;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ffffff56;
  padding-bottom: 1rem;
  background-color: #0c0c0c;

  position: sticky;
  top: 0;
}
header nav {
  padding-top: 2rem;
}

/* GENERAL STYLES */
h1 {
  width: fit-content;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  width: fit-content;
  color: #ccc;
}
/* END OF GENERAL STYLES*/

ul {
  font-size: 1.1rem;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul li {
  display: inline;
  text-align: center;

  transition: 0.2s;
}

ul li a {
  cursor: pointer;

  color: white;
  text-decoration: none;
}
ul li:hover {
  transform: scale(1.05);
}

main {
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  width: 90%;
  max-width: 1500px;
  min-width: 300px;

  color: white;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20rem;
}
main section.introduction {
  width: 100%;
  max-width: 1120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.introduction p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
.introduction p span {
  font-weight: bold;
  color: rgb(10, 241, 10);
}
h1 span {
  letter-spacing: 2px;
  color: #4bdfff;

  animation-name: span-color;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes span-color {
  from {
    color: #4bdfff;
  }
  50% {
    color: rgb(85, 126, 240);
  }
  to {
    color: #aceefd;
  }
}

@media (min-width: 600px) {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

footer {
  padding: 1rem;
  color: white;
  border-top: 1px solid white;
  margin-top: 5rem;
}
footer h2 {
  font-size: 2rem;
  color: #d8e7eb;
}

@media (min-width: 1024px) {
  main section.introduction {
    flex-direction: row;
  }
  main section.introduction p {
    text-align: left;
  }
  h1 {
    text-align: left;
    font-size: 42px;
  }
}
